@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
#ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #010101;
}
.li{
    float: left;
}
.navbtn{
    text-decoration: none;
    display: block;
    color: white;
    font-family: Oswald;
    padding: 14px 16px;
}
li a:hover{
    background-color: rgb(90, 89, 88);
}